.navbar
{
  max-width: 1140px;
  margin: auto;
  font-size: 30px;
    display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 50px;
}
  .navbar a {
    background-image: url(../Hero-bg.png);
      font-weight: bold;
      color: blue;
      text-decoration: none;
  }
  .pic{
   background-image: url(../Hero-bg.png);
   max-width: 1140px;
  margin: auto;
  padding-bottom: 50px;
}
  .content {
    font-size: 64px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
  }
   




  .content1 {

    font-size: 44px;
     
  }

  .Launch {

      gap: 100px;
    font-size: 14px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: #096ef2;
    padding: 3px 20px;
    border-radius: 20px;
    display: inline-block;
    font-family: Arial, sans-serif;}


    .pic2022{

  width: 150px;
      height: 150px;
    
      border-radius: 50%;
      object-fit: cover;
    }
 /* Statistics Container */
  .sub
  {
    font-size: 20px;
    font-weight: 500;
    color: hsl(0, 0%, 100%);
    background-color: #096ef2;
    padding: 3px 20px;
    border-radius: 8px;
    display: inline-block;
    font-family: Arial, sans-serif;}

.feedback {
   max-width: 1140px;
  margin: auto;
  text-align: center;
  padding: 40px;
  background-color: #f2f2f2;
}

.feedback h2 {
  font-size: 28px;
  margin-bottom: 5px;
}

.feedback p {
  color: #666;
  margin-bottom: 20px;
}

.review-box {
  width: 350px;
  margin: 0 auto;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.stars {
  color: gold;
  font-size: 20px;
  margin-bottom: 10px;
}

.review-text {
  font-size: 16px;
  margin-bottom: 15px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.reviewer img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.reviewer .info h4 {
  margin: 0;
  font-size: 16px;
}

.reviewer .info small {
  color: gray;
}


.animated-button {
  padding: 12px 25px;
  font-size: 16px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 8px;
  transition: all 0.4s ease;
  cursor: pointer;
}

.animated-button:hover {
  background-color: #2ecc71;
  transform: scale(1.05);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}
